@import '../../styles/variables';
@import '../../styles/mixins';

.up-next{
  
  max-width: 348px;

  &__header{
    padding: 0 0 2.5rem;

    @include desktop{
      padding: 2.5rem 0;
    }
  }

  &__link{
    text-decoration: none;
    &:visited{
      color: $primary;
    }
  }
  
  &__card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 1.5rem;
  }

  &__img-container{
    height: 70px;
    width: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }

  &__img{
    width: 110%;
  }

  &__text{
    width: calc(100% - 120px - 16px);

  }

  &__text-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}