@import '../../styles/variables';
@import '../../styles/mixins';

.hero{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  overflow: hidden;
  
  &__vid-container{
    position: relative;
    width: 100%;
    transition: all .2s;
    height: auto;
    

    @include tablet{
      width: 700px;    
    }

    @include desktop{
      width: 944px;
    }
  }

  &__vid{
    width: 100%;
  }
}

.controls{
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;

  @include tablet{
    justify-content: space-evenly;
    padding: 0;
    bottom: 16px;
  }


  &__play{
    height: 36px;
    width: 56px;
    background-image: 
    url(../../assets/Icons/SVG/Icon-play.svg), 
    linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    background-position: center;
    background-repeat: no-repeat;
    background-color: none;
    border-radius: 4px;
    border: none;
    background-color: rgba(0, 0, 0, 0);

    &:focus{
      outline: none;
    }
  }

  &__progress{
    width: calc(100% - 152px);
    height: 36px;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    
    @include tablet{
      width: calc(100% - 200px);
    }
  }

  &__progress-range{
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .5);

    &:focus{
      outline: none;
    }

    &::-webkit-slider-thumb{
      -webkit-appearance: none;
      appearance: none;
      width: 0;
      height: 0;
    }

  }

  &__progress-duration{
    color: white;
    padding: 0 0 0 16px;
    display: none;

    @include tablet{
      display: block;
    }
  }

  &__items{
    display: flex;
    width: 80px;
    border-radius: 4px;
    overflow: hidden;
  }

  &__full-screen{
    background-position: center;
    height: 36px;
    width: 40px;
    background-image: url(../../assets/Icons/SVG/Icon-fullscreen.svg), linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    background-repeat: no-repeat;
  }

  &__volume{
    height: 36px;
    width: 40px;
    background-image: url(../../assets/Icons/SVG/Icon-volume.svg), linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    background-position: center;
    background-repeat: no-repeat;
  }

}