@import '../../styles/variables';
@import '../../styles/mixins';

.hero{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  position: relative;
  

  &__vid{
    width: 100%;
    transition: all .2s;

    @include tablet{
      width: 700px;
      
    }

    @include desktop{
      width: 944px;
    }
  }
}

.controls{
  position: absolute;
  display: flex;

  &__play{
    height: 48px;
    width: 48px;
    background-image: url(../../assets/Icons/SVG/Icon-play.svg);
    background-repeat: no-repeat;
    border: 4px black solid;
  }

  &__progress{
    height: 48px;
    width: 48px;
    background-image: url(../../assets/Icons/SVG/Icon-play.svg);
    background-repeat: no-repeat;
    border: 4px black solid;
  }

  &__items{
    display: flex;
  }

  &__full-screen{
    height: 48px;
    width: 48px;
    background-image: url(../../assets/Icons/SVG/Icon-play.svg);
    background-repeat: no-repeat;
    border: 4px black solid;
  }

  &__volume{
      height: 48px;
      width: 48px;
      background-image: url(../../assets/Icons/SVG/Icon-play.svg);
      background-repeat: no-repeat;
      border: 4px black solid;
  }

}