@import '../../styles/variables';
@import '../../styles/mixins';

.content{
  padding: 2rem 1rem 2.5rem;
  transition: all .2s;
  display: flex;
  flex-direction: column;

  @include tablet{
    padding: 3rem 1.5rem 4rem;
    flex-direction: row;
  }

  @include desktop{
    padding: 3rem 11.25rem 4rem;
  }
}