@import '../../styles/variables';
@import '../../styles/mixins';

.content{
  padding: 0 1rem 0;
  transition: all .2s;
  display: flex;
  flex-direction: column;

  @include tablet{
    padding: 0 1.5rem 0;
    flex-direction: row;
  }

  @include desktop{
    padding: 0 11.25rem 0;
  }
}