@import '../../styles/mixins';
@import '../../styles/variables';

.header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transition: padding .2s;

  @include tablet{
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop{
    // width: 100%;
    padding: 16px 180px;
  }

  &__logo{
    width: 180px;
    margin: 0 0 .5rem;

    @include tablet{
      margin: 0;
    }
  }

  &__items{
    width: 100%;

    @include tablet{
      width: 416px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }


  &__search-container{
    width: 100%;
    height: 48px;
    position: relative;
    margin: 0 0 .5rem;

    @include tablet{
      width: 210px;
      margin: 0;
    }
  }

  &__search-icon{
    background-image: url(../../assets/Icons/SVG/Icon-search.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 15px;
    left: 20px;
  }


  &__search-bar{
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: solid $inputBorder 2px;
    background-color: $inputBg;
    padding-left: 50px;
    font-size: 1rem;

    &:hover{
      border: solid $accentHover 2px;
    }

    &:focus{
      outline: none;
      border: solid $accent 2px; 
    }


    &:placeholder-shown{
      padding-left: 50px;
      color: black;
      font-size: 1rem;
    }

    &::placeholder{
      color: black;
    }
  }

  &__upload-container{
    width: 100%;
    display: flex;

    @include tablet{
      width: 182px
    }
  }

  &__upload{
    width: calc(100% - 48px - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet{
      width: 110px;
      height: 48px;
    }
  }

  &__upload-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
  }

  &__avatar-container{
    height: 48px;
    width: 48px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1rem;
  }


  &__avatar{
   height: 100%;
  }
}

.btn{
  color: $accent-contrast;
  background-color: $accent;
  border: none;
  border-radius: 5px;  

  &:hover{
    background-color: $accentHover;
  }

  &:focus{
    outline: none;
  }
}